<section class="login-wrapper">  
    <form autocomplete="off">
        <input type="text" name="your-name" placeholder="Your name" >
        <input type="text" name="username" placeholder="Username" readonly onfocus="this.removeAttribute('readonly');">
        <input type="email" name="email" placeholder="Your email">
        <input type="password" name="password" placeholder="Choose a password" readonly onfocus="this.removeAttribute('readonly');">
        <input type="password" name="confirm-password" placeholder="Confirm password">
        <button class="primary-button login-button" type="submit">Register</button>
    </form>
</section>