header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 30px;
  background-color: #fff;

  ul {
    display: flex;
    gap: 15px;
  }

  a {
    color: black;
  }

  .header-cta {
    a, .logged-out * {
      margin-left: 15px;
      border: 0;
      background: 0;
      font-size: inherit;
    }

    .logged-out {
        button {
            cursor: pointer;
            font-family: inherit;
        }
    }

  }
}
