.post-wrapper {
    width: 66.666667%;
    background-color: #fff;
    border-radius: 15px;
    margin: 30px auto;
    padding: 24px;
}

.add-post-container {
    margin-bottom: 30px;
    textarea {
        width: 100%;
        margin-bottom: 15px;
        background-color: #f3f4f6;
        border-radius: 10px;
        border-width: 2px;
        border-color: #e9e9e9;;
        padding: 15px;
        font-size: 16px;
    }
    button {
        display: block;
        background-color: #3b82f6;
        color: #fff;
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
}

.post-container {
    margin-bottom: 20px;

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .delete-button, .like-button {
        cursor: pointer;
        margin-right: 5px;
        background: none!important;
        border: 0;
        color: #3b82f6;
        font-size: 15px;
        padding: 0;
    }
    .delete-button {        
        display: block;
    }
}